# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
.local/
.vitepress/cache/
.vitepress/dist/
/site/
/tmp/
build/
node_modules/
