# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.cache/
.DS_Store
.local/
.vitepress/cache/
.vitepress/dist/
*.xml
/site/
/tmp/
assets/install/
build/
node_modules/
