# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
*.bats
*.nu
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
node_modules/
deno.lock
tmp/
