# GitHub Actions workflow file.
#
# For more information, visit
# https://docs.github.com/actions/learn-github-actions.

---
name: build

# Makes workflow run on any push or pull request.
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      debug:
        default: false
        description: Use Tmate session for debugging
        type: boolean

env:
  DENO_DIR: "${{ github.workspace }}/.vendor/deno"
  PATH: "${{ github.workspace }}/.vendor/bin:${{ env.PATH }}"

jobs:
  build:
    name: Run code analyses and test suites
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: deno-${{ runner.os }}-${{ hashFiles('deno.lock') }}
          path: |
            .vendor
            node_modules
      - name: Install Just for Windows
        if: ${{ runner.os == 'Windows' }}
        run: "& src/install/just.ps1 --dest .vendor/bin"
      - name: Install Just for Unix
        if: ${{ runner.os != 'Windows' }}
        run: src/install/just.sh --dest .vendor/bin
      - name: Run commands
        run: just setup format lint test doc
      - name: Setup Tmate session if debug enabled
        if: >-
          ${{ always() && github.event_name == 'workflow_dispatch' &&
          inputs.debug }}
        timeout-minutes: 60
        uses: mxschmitt/action-tmate@v3
